In [439]:
import requests
import pandas as pd

URL ='http://api.hh.ru/vacancies?area=1&text=Product&search_field=name'
df=pd.DataFrame()
for i in range(20):
    df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))

/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))
/var/folders/jl/lsn73r2d50l0m4vgv43dgjbm0000gn/T/ipykernel_74934/1534159628.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame(requests.get(URL.format(str(i))).json()['items']))

In [440]:
df.to_csv(r'/Users/dimka/Desktop/проект/load_data.csv', index = False)

In [441]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 19
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         400 non-null    object
 1   premium                    400 non-null    bool
 2   name                       400 non-null    object
 3   department                 20 non-null     object
 4   has_test                   400 non-null    bool
 5   response_letter_required   400 non-null    bool
 6   area                       400 non-null    object
 7   salary                     180 non-null    object
 8   type                       400 non-null    object
 9   address                    240 non-null    object
 10  response_url               0 non-null      object
 11  sort_point_distance        0 non-null      object
 12  published_at               400 non-null    object
 13  created_at                 400 non-null    object
 14  archived                   400 non-null    bool
 15  apply_alternate_url        400 non-null    object
 16  show_logo_in_search        120 non-null    object
 17  insider_interview          20 non-null     object
 18  url                        400 non-null    object
 19  alternate_url              400 non-null    object
 20  relations                  400 non-null    object
 21  employer                   400 non-null    object
 22  snippet                    400 non-null    object
 23  contacts                   0 non-null      object
 24  schedule                   400 non-null    object
 25  working_days               400 non-null    object
 26  working_time_intervals     400 non-null    object
 27  working_time_modes         400 non-null    object
 28  accept_temporary           400 non-null    bool
 29  professional_roles         400 non-null    object
 30  accept_incomplete_resumes  400 non-null    bool
 31  experience                 400 non-null    object
 32  employment                 400 non-null    object
 33  adv_response_url           0 non-null      object
 34  is_adv_vacancy             400 non-null    bool
 35  adv_context                0 non-null      object
 36  branding                   120 non-null    object
dtypes: bool(7), object(30)
memory usage: 99.6+ KB

In [442]:
df.drop(columns=['department', 'has_test', 'response_url', 'relations', 'working_days', 'working_time_intervals', 'working_time_modes', 'type', 'address', 'sort_point_distance', 'created_at', 'archived', 'apply_alternate_url', 'show_logo_in_search', 'insider_interview', 'url', 'alternate_url', 'snippet', 'contacts', 'accept_temporary', 'accept_incomplete_resumes', 'adv_response_url', 'response_letter_required', 'is_adv_vacancy', 'adv_context', 'branding'], inplace = True)

In [443]:
import numpy as np
df['salary'] = np.random.randint (100000 , 250000 ,size=( 400 , 1))

In [444]:
df["premium"] = df['premium'].astype('int64')
df.dtypes

id                    object
premium                int64
name                  object
area                  object
salary                 int64
published_at          object
employer              object
schedule              object
professional_roles    object
experience            object
employment            object
dtype: object

In [445]:
df["premium"] = df['premium']. replace(['False', 'True'], [0,1])

In [446]:
df["experience"] = df['experience'].astype('str')
df['start_year'] = df['experience'].str.extract('(\d+)')

In [450]:
#df['employment'] = df['employment'].apply(lambda x: x['name'])
#df['area'] = df['area'].apply(lambda x: x['name'])
#df['employer'] = df['employer'].apply(lambda x: x['name'])
#df['professional_roles'] = df['professional_roles'].apply(lambda x: x['name'])
df['schedule'] = df['schedule'].apply(lambda x: x['name'])

In [451]:
df

,id,premium,name,area,salary,published_at,employer,schedule,professional_roles,experience,employment,start_year
0,90646228,0,Junior Product Manager,Москва,127840,2023-12-13T13:29:28+0300,Кухня на районе,Полный день,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'between1And3', 'name': 'От 1 года до 3...",Полная занятость,1
1,90504793,0,Стажер Product Manager,Москва,131101,2023-12-08T17:41:28+0300,Mindbox,Удаленная работа,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'noExperience', 'name': 'Нет опыта'}",Стажировка,NaN
2,90005929,0,Junior Product Manager,Москва,134932,2023-11-27T23:09:32+0300,Grabber,Полный день,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'between1And3', 'name': 'От 1 года до 3...",Полная занятость,1
3,90472971,0,Junior Product manager,Москва,166715,2023-12-08T10:21:39+0300,EGGHEADS,Удаленная работа,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'noExperience', 'name': 'Нет опыта'}",Полная занятость,NaN
4,90110864,0,Product менеджер,Москва,232552,2023-11-29T17:31:25+0300,Консоль.Про,Удаленная работа,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'between1And3', 'name': 'От 1 года до 3...",Полная занятость,1
...,...,...,...,...,...,...,...,...,...,...,...,...
15,91083126,0,Lead Product Manager,Москва,119459,2023-12-27T14:15:27+0300,«UZUM TECHNOLOGIES».,Полный день,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'between3And6', 'name': 'От 3 до 6 лет'}",Полная занятость,3
16,90981138,0,Project Manager / Product Manager,Москва,114021,2023-12-25T10:53:24+0300,Жанкенова Оксана Дмитриевна,Удаленная работа,"[{'id': '107', 'name': 'Руководитель проектов'}]","{'id': 'between1And3', 'name': 'От 1 года до 3...",Полная занятость,1
17,91047518,0,Product Designer (UX/UI дизайнер),Москва,233660,2023-12-26T15:26:25+0300,Таргет,Удаленная работа,"[{'id': '34', 'name': 'Дизайнер, художник'}]","{'id': 'between1And3', 'name': 'От 1 года до 3...",Полная занятость,1
18,90203602,0,Junior Product Analyst,Москва,151178,2023-12-01T14:56:38+0300,L’etoile Digital,Полный день,"[{'id': '164', 'name': 'Продуктовый аналитик'}]","{'id': 'between1And3', 'name': 'От 1 года до 3...",Полная занятость,1
19,90464648,0,Product manager,Москва,154779,2023-12-08T06:57:35+0300,Neiry,Полный день,"[{'id': '73', 'name': 'Менеджер продукта'}]","{'id': 'between3And6', 'name': 'От 3 до 6 лет'}",Полная занятость,3

In [452]:
df['published_at'] = pd.to_datetime(df['published_at'])
df['published_at'] = df['published_at'].dt.strftime('%d-%m-%Y')

In [453]:
df["professional_roles"] = df['professional_roles'].astype('str')
df['professional_roles'] = df['professional_roles'].str.extract('(\d+)')

In [454]:
df.to_csv(r'/Users/dimka/Desktop/проект/load_data.csv', index = False)

In [455]:
df["start_year"] = df['start_year'].astype('float')
df['start_year'] = df['start_year'].fillna(method='ffill')
df.drop(columns=['experience'], inplace = True)

In [456]:
df

,id,premium,name,area,salary,published_at,employer,schedule,professional_roles,employment,start_year
0,90646228,0,Junior Product Manager,Москва,127840,13-12-2023,Кухня на районе,Полный день,73,Полная занятость,1.0
1,90504793,0,Стажер Product Manager,Москва,131101,08-12-2023,Mindbox,Удаленная работа,73,Стажировка,1.0
2,90005929,0,Junior Product Manager,Москва,134932,27-11-2023,Grabber,Полный день,73,Полная занятость,1.0
3,90472971,0,Junior Product manager,Москва,166715,08-12-2023,EGGHEADS,Удаленная работа,73,Полная занятость,1.0
4,90110864,0,Product менеджер,Москва,232552,29-11-2023,Консоль.Про,Удаленная работа,73,Полная занятость,1.0
...,...,...,...,...,...,...,...,...,...,...,...
15,91083126,0,Lead Product Manager,Москва,119459,27-12-2023,«UZUM TECHNOLOGIES».,Полный день,73,Полная занятость,3.0
16,90981138,0,Project Manager / Product Manager,Москва,114021,25-12-2023,Жанкенова Оксана Дмитриевна,Удаленная работа,107,Полная занятость,1.0
17,91047518,0,Product Designer (UX/UI дизайнер),Москва,233660,26-12-2023,Таргет,Удаленная работа,34,Полная занятость,1.0
18,90203602,0,Junior Product Analyst,Москва,151178,01-12-2023,L’etoile Digital,Полный день,164,Полная занятость,1.0
19,90464648,0,Product manager,Москва,154779,08-12-2023,Neiry,Полный день,73,Полная занятость,3.0

In [437]:
#Cпособ №1 Сделать хеш мд5
#Способ №2 значение ассоциативного массива, прибавляю +1 для значения нового массива при появлении нового элемента
#Вставляем вместо индекса в асоциативный массив. СТолбец нужно добавить, нельзя заменить или удалить.

In [460]:
X = df.drop('salary', axis=1)
y = df['salary']

num_splits = 5

for i in range(num_splits):
   X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=i)
   X, y = X_test, y_test
print (X_test)

          id  premium                                               name  \
9   90802974        0              Data/Product Analyst (Стажер/Trainee)
14  91055192        0          Менеджер продукта / Product Manager (B2B)
13  90493308        0                   Junior Product Manager (GameDev)
19  90464648        0                                    Product manager
14  91055192        0          Менеджер продукта / Product Manager (B2B)
6   90343248        0                            Junior product designer
16  90981138        0                  Project Manager / Product Manager
12  90390258        0  Менеджер по продукту (Удаленно) / Product mana...
5   91069010        0        Middle React developer [EP Product Catalog]
0   90646228        0                             Junior Product Manager
13  90493308        0                   Junior Product Manager (GameDev)
13  90493308        0                   Junior Product Manager (GameDev)
16  90981138        0                  Project Manager / Product Manager

      area published_at                     employer          schedule  \
9   Москва   18-12-2023                       Сравни       Полный день
14  Москва   26-12-2023                        Okkam       Полный день
13  Москва   08-12-2023                         М1НТ  Удаленная работа
19  Москва   08-12-2023                        Neiry       Полный день
14  Москва   26-12-2023                        Okkam       Полный день
6   Москва   05-12-2023                  Сервис Руки       Полный день
16  Москва   25-12-2023  Жанкенова Оксана Дмитриевна  Удаленная работа
12  Москва   06-12-2023                      JetLend  Удаленная работа
5   Москва   27-12-2023                          МТС  Удаленная работа
0   Москва   13-12-2023              Кухня на районе       Полный день
13  Москва   08-12-2023                         М1НТ  Удаленная работа
13  Москва   08-12-2023                         М1НТ  Удаленная работа
16  Москва   25-12-2023  Жанкенова Оксана Дмитриевна  Удаленная работа

   professional_roles        employment  start_year
9                  10        Стажировка         3.0
14                 73  Полная занятость         1.0
13                 73  Полная занятость         1.0
19                 73  Полная занятость         3.0
14                 73  Полная занятость         1.0
6                  34  Полная занятость         1.0
16                107  Полная занятость         1.0
12                 73  Полная занятость         1.0
5                  96  Полная занятость         1.0
0                  73  Полная занятость         1.0
13                 73  Полная занятость         1.0
13                 73  Полная занятость         1.0
16                107  Полная занятость         1.0

In [422]:
df.to_csv(r'/Users/dimka/Desktop/проект/my_data.csv', index = False)

In [423]:
df.dtypes

id                     object
premium                 int64
name                   object
area                   object
salary                  int64
published_at           object
employer               object
schedule               object
professional_roles     object
employment             object
start_year            float64
dtype: object